:root {
    --navbarBgColor: rgb(42, 117, 182);
    --navbarFontColor: red;
    --navbarLiFontColor: navy;
    --navbarLiPadding: 2rem;
    --navItemsMarginLeftRight: 10rem;
    --contentBgColor: rgb(149, 196, 196);
    --mainFontColor: black;  
}
body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
}
.navbar {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navbarBgColor);
}
.title {
    margin-left: var(--navItemsMarginLeftRight);
    font-size: 3rem;
}
.hmc-li-container {
    display: flex;
    list-style-type: none;
    margin-right: var(--navItemsMarginLeftRight);
}
.navbar-li {
    padding-left: var(--navbarLiPadding);
}
.navbar-a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bolder;
}
#content {
    width: 100vw;
    height: 90vh;
    background-color: var(--contentBgColor);
}
.hidden-content {
    visibility: hidden;
}
p {
    color: red;
}