:root {
    --navbarBgColor: #EDEFEE;
    --navbarBgColorTwo: #D6E0EA;
    --navbarFontColor: black;
    --navbarLiFontColor: #382D29;
    --navbarLiFontColorHover: #986A42;
    --navbarLiPadding: 1rem;
    --navbarBorderSize: 2px;
    --navbarBorderColor: #8A7152;
    --contentBgColor: #8A7152;
    --mainFontColor: black;  
    --menuBgColor: #DBDDDC;
}
body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-image: url("../assets/images/bgImg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.navbar {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(var(--navbarBgColor), var(--navbarBgColorTwo));
    border-bottom: var(--navbarBorderSize) solid var(--navbarBorderColor);
}

.hmc-li-container {
    display: flex;
    list-style-type: none;
}
.navbar-li {
    padding: var(--navbarLiPadding);
}
.navbar-a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--navbarLiFontColor);
}
.navbar-a:hover {
    color: var(--navbarLiFontColorHover) !important;
    text-decoration: underline;
    font-weight: 500;
}
#content {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hidden-content {
    visibility: hidden;
}
.content-background {
    background-color: var(--menuBgColor);
}
p {
    color: black;
}
.menu-container {
    width: 100vw;
    height: 100%;
    background-color: var(--menuBgColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--navbarLiFontColor);
    width: 50vw;
    border-bottom: 2px solid #8A7152;
}
.menu-item-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu-item-title {

}
.menu-item-description {
   
}
.menu-item-price {
    
}
